.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: auto;
      margin: auto;
  }

  img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
  }


legend.scheduler-border {
    text-align: center;
}

.panel-heading [data-toggle="collapse"]:after {
  display: none;
}

span.bubble {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.3);
    line-height: 25px;
    border-radius: 50%;
    color: white;
}
